body {
	
}

.background {
	background-color: #444444;
}

.bg-dark-2 {
	background-color: #444444;
}

#dropdown-dp {
	min-width: 205px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp {
	min-width: 350px;
	padding: 30px 30px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: rgba(68, 68, 68, 0.9);
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}

}